.app {
	min-height: 100vh;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 15px;
}

.app__image {
	display: block;
	width: 835px;
	height: 520px;
	margin: 0 0 30px 0;
}

.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	color: #303030;
	margin: 0 0 50px 0;
}

.star-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: 0 0 30px 0;
}

.descr {
	font-size: 22px;
	line-height: 120%;
	color: #000;
	margin: 0 0 30px 0;
	text-align: center;
}

.accordion__title {
	font-weight: 500;
	font-size: 26px;
	line-height: 120%;
	color: #000;
	margin: 0 0 30px 0;
}

.accordion__list {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	display: flex;
	flex-direction: column;

}

.accordion__item {
	font-size: 20px;
	color: #000;
	margin: 0 0 20px 0;
}

.star-full {
	display: inline-block;
	/* width: 24px;
	height: 24px; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* background-image: url("../src/img/icons/star-full.svg"); */
	font-weight: 700;
	font-size: 18px;
}

.star-empty {
	display: inline-block;
	/* width: 24px;
	height: 24px; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* background-image: url("../src/img/icons/star-emprty.svg"); */
	font-weight: 400;
	font-size: 18px;
}

.box {
	display: flex;
	gap: 50px;
}

.box__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;
	margin: 0 0 50px 0;
}

.box__title {
	font-weight: 500;
	font-size: 22px;
	line-height: 120%;
	color: #000;
}

.box__list {
	list-style: none;
	padding: 0;
	width: 100%;
	height: 190px;
	display: flex;
	overflow-y: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.box__buttons-box {
	display: flex;
	width: 100%;
	gap: 20px;
	justify-content: center;
	align-items: flex-start;
}

.box__button {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	height: 40px;
	background-color: #c6c2c2;
	font-size: 16px;
	line-height: 100%;
	color: #000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.box__button:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.6);
	background-color: aquamarine;
}

.error {
	border: 1px solid red;
}

.error-message {
	color: red;
}

.active-filter {
	background-color: aquamarine;
}

.is-done {
	opacity: 0.5;
}